# Elixir version
# We need 1.14 for all the features in live view to work, although it will work with other versions
# elixir_version=1.12.3
elixir_version=1.14.2

# Erlang version
# available versions https://github.com/HashNuke/heroku-buildpack-elixir-otp-builds/blob/master/otp-versions
#erlang_version=23.3.2
erlang_version=25.1.2

# build assets
hook_post_compile="eval mix assets.deploy && rm -f _build/esbuild"